@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  position: relative;
  height: 100vh;
  width: 100%;
  background-color: #eee;
  font-family: 'Roboto Slab', serif;
}
html{
  font-size: 62.5%;
}
header{
  width: 100%;
  height: 60px;
  background-color: white;
  z-index: 30;
  position: fixed;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.items{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  list-style-type: none;
  gap: 30px;
}
.nav-item{
  font-size: 1.5rem;
}
.nav-item:hover{
  font-weight: 500;
  color: rgb(72, 72, 72);
}
.profile-img {
  border-radius: 50%;
  border: 2px solid rgb(225, 229, 231);
  display: block;
  margin: auto;
  width: 40px;
  height: 40px; 
}
nav{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  position: fixed;
  width: 270px;
  height: 100%;
  min-height: 650px;
  color: black;
  background-color: white;
  transition: ease-in 0.7s;
  z-index: 100;
  top:60px;
}
nav.hide{
  transition: ease-in 0.5s;
  width: 0;
}
nav span{
  width: 100%;
  text-align: center;
  margin-top: 1.5rem;
  overflow: hidden;
}
.profile{
  border-radius: 50%;
  width:70px;
  border: #fff 2px solid;
}
.name{
  margin-top:4px;
  font-size: 13px;
  font-weight: 100;
  color: rgb(59, 60, 60);
}
.sidebarmenu{
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 12px;
  height: 70%;
  width: 100%;
  list-style-type: none;
  overflow: hidden;
  margin-top: 2rem;
}
.sidebarmenu li{
  text-align: center;
  width: 100%; 
}
.sidebarmenu li a{
  display: inline-flex;
  align-items: left;
  width: 95%;
  padding-top: 7px;
  padding-bottom: 7px;
  padding-left: 8rem;
  color: black;
  text-decoration: none;
  font-size: 1.5rem;
  transition: ease-in 0.2s;
  border: 1px solid white;
  border-radius: 5px;
  background-color: rgb(223, 225, 227);
  
}
.sidebarmenu li a:hover{
  color: rgb(26, 25, 25);
  border: 1px solid rgb(170, 173, 175);;
  background-color: rgb(189, 191, 193);
}
.sidebarmenu li a i{
  margin:0 4px;
  width: 20px;
  font-size: 20px;
}
#toggle-btn{
  position: absolute;
  top: -50px;
  left: 9px;
  width: 40px;
  height: 40px;
  font-size: 18px;
  border-radius: 7px;
  border: none;
  cursor: pointer;
  color: black;
  transition: linear 0.2s;
  background-color: rgb(223, 225, 227);
}
#toggle-btn:hover{
  background-color:rgb(189, 191, 193);
}

section{
  position: relative;
  top:40px;
  left: 250px;
  height: auto;
  width: calc(100% - 250px);
  padding: 40px;
  transition: ease-in 0.7s;
  background-color: #eee;
  display: flex;
  justify-content: center;
  align-items: center;
}
section.expand{
  width: 100%;
  left:0;
  transition: ease-out 0.5s;
}
/* for cards */
.grid{
    display:flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width:100em;
    height: 100%;
    gap:1.3rem;
  }
  .card{
    width:250px;
    height: auto;
  }
  .grid-item{
   background-color: #fff;
   border-radius: 0.4rem;
   overflow: hidden;
   box-shadow: 0 3rem 6rem rgb(181, 180, 180);
   cursor: pointer;
   transition: 0.2s;
  }
  .grid-item:hover{
    transform: translateY(-0.5%);
    box-shadow: 0 4rem 8rem rgb(110, 110, 110);
  }
  .card-img{
    display: block;
    width: 100%;
    height: 13rem;
    object-fit: cover;
  }
  .card-content{
    padding: 1rem; 
  }
  .card-header{
    font-size: 1.4rem;
    font-weight: 500;
    color: black;
    margin-bottom: 0.3rem;
    float: left;
  }
  .card-text{
    font-size:10px;
    letter-spacing: 0.1rem;
    color:#3d3d3d;
    margin-bottom: 3px;
    float: left;
  }
  .card-btn{
    display: block;
    width: 100%;
    padding: 1rem;
    font-size: 1.4rem;
    align-items: center;
    color: #153bb5;
    background-color: rgb(223, 225, 227);
    border: none;
    border-radius: 0.4rem;
    transition: 0.2s;
    cursor: pointer;
    letter-spacing: 0.1rem;

  }
  .card-btn:hover{
    background-color: rgb(189, 191, 193);
    color: #0c41ee;
  }
  .card-btn:hover span,
  .card-btn:active span{
    margin-left: 0.2rem;
  }
@media only screen and (max-width:500px){
  header{
    background-color: black;
    color: #fff;
    z-index: 30;
  }
  .nav-item:hover{
    font-weight: 500;
    color: rgb(170, 173, 175);
  }
  .p
  .items{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    list-style-type: none;
    gap: 30px;
  }
  nav{
    width: 400px;
  }
  .sidebarmenu li a{
    padding-left: 15rem;  
  }
  section{
    padding: 8rem;
  }
  .grid{
    width:90em;
    gap:2rem;
  }
  .card{
    width:300px;
    height: auto;
  }
  .card-img{
    height: 15rem;
  }
  .card-content{
    padding: 1rem; 
  }
  .card-header{
    font-size: 2rem;
  }
  .card-text{
    font-size:15px;
  }
  .card-btn{
    padding: 1.5rem;
    font-size: 1.4rem;
  }
}

@media only screen and (max-width:400px){
  nav{
    width: 370px;
  }
  .nav-item{
    font-size: 1.8rem;
  }
  nav span{
    margin-top: 4.2rem;  
  }
  .sidebarmenu{
    gap: 12px;
    height: 70%;
    margin-top: 4rem;
  }
  .sidebarmenu li{
    text-align: center;
    width: 100%; 
  }
  .sidebarmenu li a{
    width: 95%;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 13rem; 
    font-size: 1.7rem;
  }
  .sidebarmenu li a i{
    font-size: 23px;
  }
  .grid{
    width:90em;
    gap:2rem;
  }
  .card{
    width:300px;
    height: auto;
  }
  .card-img{
    height: 15rem;
  }
  .card-content{
    padding: 1rem; 
  }
  .card-header{
    font-size: 2rem;
  }
  .card-text{
    font-size:15px;
  }
  .card-btn{
    padding: 1.2rem;
    font-size: 1.8rem;
  }
  section{
    left: 100px;
  }
}
